.calenderContainer {
    /* might not be needed top */
    width: 95%;
    height: auto;
    /* change height to auto */
    border-radius: 1.25em;
    box-shadow: var(--boxShadow);
    background-color: var(--bgkColor);
}

.calendar {
    height: auto;
    width: 100%;
    padding: .4em;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

.showTaskPerCalDay {
    z-index: 1000;
    background-color: var(--bgkColor);
    height: auto;
    width: 20em;
    position: absolute;
    top: 18em;
    align-self: center;
    display: none;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    border: .09em solid var(--textColor);
    border-top: 0;
}

.showTaskPerCalDay.--show {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textColor);
    /* filter: invert(100%); */
}

.showTaskPerCalDay>h4 {
    font-size: 1em;
    text-decoration: underline;
    margin-bottom: .5em;
}

.showTaskPerCalDay>div {
    margin: .2em 0;
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-between;
}


.priority1 {
    color: #FFCB77;
}

.priority2 {
    color: blue;
}

.priority3 {
    color: #FE6D73;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    padding: .3em;
}

.calendar-header>span {
    color: var(--textColor);
}

.month-picker {
    padding: .3em .6em;
    cursor: pointer;
    border-radius: 1.2em;
}


.month-picker:hover {
    background-color: blue;
    color: white;
}

.year-picker {
    display: flex;
    align-items: center;
    color: var(--textColor);
}

.year-picker>span {
    font-size: .7rem;
}

.year-change {
    height: 2.5em;
    width: 2.5em;
    display: grid;
    place-items: center;
    margin: 0 .6em;
    cursor: pointer;
}

.year-change :hover {
    font-size: 1.4em;
}

.calendar-body {
    padding: .2em;
    background-color: var(--bgkColor);
}

.calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    font-weight: 600;
    font-size: .7rem;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    width: 3.1em;
    height: 3.1em;
    color: var(--nonImportantText);
}

.calendar-days {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 0em;
    font-size: .8rem;
}

.calendar-days div {
    width: 3.1em;
    height: 3.1em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.calendar-days div.curr-date {
    color: white;
}

.calendar-days div span {
    margin: 0 auto;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50em;
}

.calendar-days div.curr-date span {
    background-color: blue;
    color: white;
}

.day_div {
    flex-direction: column;
    overflow: visible;
}

.day_div>span {
    color: var(--textColor);
}

.alertTask {
    color: #227C9D;
    margin-top: -.2em;
}


.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bgkColor);
    border-radius: 1.2em;
    padding: 1.2em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: .2em;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
}

.month-list>div {
    display: grid;
    place-items: center;
}

.month-list>div>div {
    width: 100%;
    padding: .2em .9em;
    border-radius: .2em;
    text-align: center;
    color: var(--textColor);
    cursor: pointer;
}

.month-list>div>div:hover {
    background-color: deepskyblue;
    color: white;
    border-radius: 1.2em;
}


@media (max-width: 780px) {
    .calenderContainer {
        width: 100%;
    }
    .year-picker>span {
        font-size: 1rem;
    }
}