@import "home_page.css";

/* any similar selectors are either in the other css imported here */
#mainContainer {
    margin: 0 auto;
    width: 34.3rem;
    height: auto;
    border: .01em solid var(--secondaryColor);
    border-bottom-right-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    margin-top: -.25em;
    background-color: var(--bgkColor);
}

.row1 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 8.7em;
    width: 8.7em;
}

.row2 {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    padding-top: 1.25em;
}

.row3 {
    width: 85%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.errors{
    color: red;
    text-align: center;
    margin-top: 2em;
}

a {
    color: var(--secondaryColor);
    text-decoration: underline;
    margin-bottom: .1em;
}

p {
    color: var(--secondaryColor);
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}