@import "home_page.css";
@import "login_page.css";

/* any similar selectors are either in the other css imported here */
.inputAge {
    border: none;
    margin-top: 1.25em;
    width: 4em;
    height: 3.1em;
    padding-left: .9em;
    outline: none;
    text-align: center;
    color: var(--textColor);
    background-color: transparent;
}

.ageLabel {
    color: var(--nonImportantText);

}

.ageContainer {
    align-self: center;
    border-bottom: 2px solid var(--textColor);
}